<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="classesOneToTen.ClassThree"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="classesOneToTen"/>
<booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-javaagent:&quot;C:/Users/Eduardo/eclipse/java-2019-12/eclipse/../../../.p2/pool/plugins/pt.iscte.pandionj.launcher_0.4.0/lib/agent.jar=classesOneToTen/ClassThree|biggerDifference(13)|(I)I&quot; -Djava.awt.headless=true -ea"/>
</launchConfiguration>
